@inherits LayoutComponentBase
@inject ContactController contactController

<div class="main vh-100 vw-100">

    @Body

</div>
@code{ 
    protected override async void OnInitialized()
    {
        Api.InitializeClient();
    }
}